.src-block-caption {
    margin-top: -10px;
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 16px;
}

.ox-hugo-toc.toc .heading {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
